@model FrontPageViewModel
@{
    ViewBag.Title = "Frontpage";
}
<section id="search">
<h2>Search</h2>
@using (Html.BeginForm<SearchController>(x => x.Index()))
{
    @Html.DropDownList("SearchCriteria", EnumHelper.ToList<SearchCriteria>()) 
    @Html.TextBox("SearchText")
    @Html.SubmitButton("Search","Search")
}
</section>
<h2>
    Featured movies</h2>

@(Html.ActionLink<MovieController>(x => x.Index(), "List Movies", new { id = "list"}))


    <ul id ="featuredMovies" class="jcarousel-skin-tango">
        @foreach (var item in Model.FeaturedMovies)
        {
            <li>
                <img alt="cover" src="@item.CoverUrl" />                
                <h4>@(Html.ActionLink<MovieController>(x => x.Details(item.Title.ToUrlText()), item.Title))</h4>
                <label>Release date</label>@item.ReleaseDate.ToShortDateString()<br />
                <label>Length</label>@item.Length<br />
                <label>Genere</label>@item.Genre
                
            </li>       
        }
    </ul>
<script type="text/javascript">
    $(function () {
        $("#featuredMovies").jcarousel({
            scroll: 1,
            auto:5,
            wrap: "circular",
            buttonNextHTML: null,
            buttonPrevHTML: null
        });
    });
</script>
