@model IEnumerable<MovieViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.ActionLink<MovieController>(x => x.Create(), "Create New", new { id = "new" }))

@foreach (var item in Model)
{
    <section class="movie">
        <a class="image" href="#">
            <img src="@item.CoverUrl" alt="@item.Title" />
            @if (!string.IsNullOrEmpty(item.TrailerUrl))
            { 
                <span class="trailer"></span>
            }
        </a>
        <div class="info">
            <h2>@(Html.ActionLink<MovieController>(x => x.Details(item.Title.ToUrlText()), item.Title))</h2>
            <span>@item.Description</span>
            <div class="length">
                <label>Length: </label><span>@item.Length</span>
            </div>
            <div class="releasedate">
                <label>Release Date: </label><time datetime="@item.ReleaseDateShortDate">@item.ReleaseDateShortDate</time>
            </div>
        </div>
    </section>
    if (!string.IsNullOrEmpty(item.TrailerUrl))
    { 
    <section class="trailer hidden">
        <a class="close" href="#">x</a>
        <iframe src="@item.TrailerUrl" frameborder="0" allowfullscreen></iframe>
    </section>
    }
}

<section id="CreateDialog">
</section>
